@font-face {
  font-family: 'Big Calson Roman';
  src: url('fonts/Big Caslon Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------- NAV ---------- */
nav {
  position: relative;
  background: #181818;
  color: white;
  padding: 30px 20px;
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Big Calson Roman';
  font-size: 20px;
  font-weight: 600;
}

.menu-btn {
  display: none;
  margin-left: auto;
  width: 28px;
  height: 22px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}

body{
  background-color: #181818;
}

.menu-btn span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
  transition: 0.3s ease;
}

.menu-btn span:nth-child(1) { top: 0; }
.menu-btn span:nth-child(2) { top: 10px; }
.menu-btn span:nth-child(3) { bottom: 0; }

.menu-btn.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
}

.menu-btn.active span:nth-child(2) {
  opacity: 0;
}

.menu-btn.active span:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 10px;
}

/* ---------- NAV LIST ---------- */
.nav-list {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.nav-list li {
  font-size: 18px;
  margin-left: 50px;
  cursor: pointer;
}

/* ---------- IMAGES ---------- */
img {
  display: block;
  width: 100%;
}

/* ---------- MOBILE ---------- */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #181818;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 20px 0;
  }

  .nav-list li {
    margin: 16px 0;
    font-size: 18px;
  }

  .nav-list.active {
    display: flex;
  }

  img{
    margin-top: 5px;
  }
}
