*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.main-img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    margin: 0;
    padding: 0;
    border: none;
    z-index: -1;
}


.main-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
}


.menu{
    width: 30px;
    height: 30px;
    display: none;
    margin: 15px;
}

nav{
    justify-content: end;
    width: 100%;
    display: flex;
    
    
}

.nav-list{
    font-size: 20px;
    font-weight: 500;
    justify-self: flex-end;
    list-style: none;
    display: flex;
    margin: 20px;
}

.nav-list li{
    margin-right: 20px;
}

.logo{
    position: absolute;
    top: 5px;
    left: 20px;
    height: 50px;
}

@media (max-width: 900px){
    .menu{
        display: flex;
    }

    .nav-list{
        display: none;
    }
}