*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Poppins', sans-serif;
}

.main-img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: top;
    margin: 0;
    padding: 0;
    border: none;
}


.main-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.name{
    position: absolute;
    top: 40px;
    left: 30px;
    font-size: 21.3px;
    font-weight: normal;
    color: white;
}

.headline{
    position: absolute;
    bottom: 100px;
    left: 30px;
    color: white;
    font-weight: bold;
    font-size: 35px;
}

.menu{
    position: absolute;
    right: 40px;
    top: 40px;
    width: 30px;
    height: 30px;
}