@font-face {
  font-family: 'Big Calson Roman';
  src: url('fonts/Big\ Caslon\ Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
padding: 0;
margin: 0;
}

.logo{
  font-family: 'Big Calson Roman';
  font-size: 20px;
  font-weight: 600;
}

nav{
  position: relative;
  color: white;
  background-color: #181818;
  padding: 30px 20px;
  display: flex;
  justify-content: start;

}

.nav-list{
  display: flex;
  list-style: none;
  justify-self: flex-end;
  position: absolute; 
  top: 50%;
  right: 90px;
  transform: translateY(-50%);
}

.nav-list li{
  font-size: 18px;
  margin-left: 50px;
}

img{
  width: 100% !important;
  margin: 0;
  padding: 0;
}